html, body {
    height: 100%;
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: normal;
}
.uppercase {
    text-transform: uppercase;
}
.handwright{
    font-family: 'Great Vibes', cursive;
}

#hero {
    width:100%;
    height: 480px;
}
#main {
    padding-left: 5px;
    padding-right: 5px;
}
.bg-image {
    position: absolute;
    background-image: url(../img/massage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    min-height: 480px;
    z-index: -1;
    
}
//
//CARDS 
//
.card {
    margin-bottom: 5px;
}
.card-image img {
    width: 100%;
    height: auto;
    display: block; 
}
.card-price {
    color: white;
    background-color: orange;
 }
.card-text, .card-price {
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
}
hr {
    border-top: 0.3px solid lightgray;
    width: 90%;
    margin-top: 10px;
}
//
//Footer
//
#main-footer {
    background-color: darkgrey;
    color: white;
    
}