*{
    box-sizing: border-box;
}



.card {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 3;
    
}
.card-image, hr {
    grid-column: span 2;
   
}

@media(min-width: 700px){
    .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    
}